// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$toggle-yellow: #FDFF34;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$bar-gray:rgba(200,200,200,1);
$transparent:rgba(255,255,255,0);
$dark-gray: #999999;
$light-gray: #F4F4F4;
$semi-light-gray: #D3D3D3;
$mid-gray: #BEBEBE; //For toggle default background
$darker-mid-gray: #808080;
$lighter-gray: #F4F4F4;
$white: #FFFFFF;
$black:#000000;
$orange: orange;

// settings of nprogress bar
$nprogress-color: #94E160;
$nprogress-height: 4px;
$nprogress-zindex: 10100;

$urb-primary: #93E061;
$urb-secondary: #484848;
$notification-badge-color: linear-gradient(180deg, #FFEA00 0%, #FFB800 100%);
$great-status: linear-gradient(180deg, #93E061 0%, #60E0C0 100%);
$poor-status: linear-gradient(180deg, #C98E57 0%, rgba(255, 255, 255, 0) 100%), #EB5757;

$forest-gray: #464742;
$rice-paddy-green: #94E160;
$hover-green: rgb(109, 210, 52);
$rice-paddy-green-alpha-80: rgba(148,225,96,.8);
$white-alpha-80:rgba(255,255,255,.8);
$forest-green: #4D6A55;
$nav-text-gray: #616668;
$informational-color: #c7c7c7;
$confirmation-color: #94E160;
$awesome-green-blue: #3cd3ad;
// forest green duplicate below:
$main-title-bar: #4D6A55;
$dividing-line-gray: #ddd;
$diminished-gray: #ddd;

$davys-gray: #5B5B5B;
$magic-mint: #C0E8CF;
$pale-goldenrod: #E2F4B2;
