// Radii

// *Forms

    // Form Field Radii
    $input-field-radii: 3px;
    $input-field-text-area-radii: 10px;

// *Buttons

    // General Button
    $button-radii: 3px;

    // Form Button
    $button-form-radii: 3px;
    $button-radio-radii: 10px;
    $toggle-pill-radii: 500px;

// *Images

    // Circle Raddii For Avatars and Other
    $image-rectangle-radii: 8px;
    $image-circle-radii: 500px;
    $image-radii: 3px;
    $image-square-radii: 3px;
    $image-rectangle-radii: 8px;

// *Index List Cards
    $index-card-radii: 500px;

// * Show Cards
    $show-card-radii: 3px;
    $show-card-top-image-corner-aesthetic-adjustment: 2px;

// * Graphs
    $bar-radii: 3px;

// // ALL SQUARE CORNERS  **********************************

// // Radii

// // *Forms

//     // Form Field Radii
//     $input-field-radii: 3px;
//     $input-field-text-area-radii: 3px;

// // *Buttons

//     // General Button
//     $button-radii: 3px;

//     // Form Button
//     $button-form-radii: 3px;
//     $button-radio-radii: 3px;

// // *Images

//     // Circle Raddii For Avatars and Other
//     $image-rectangle-radii: 3px;
//     $image-circle-radii: 3px;
//     $image-radii: 3px;
//     $image-square-radii: 3px;
//     $image-rectangle-radii: 3px;

// // *Index List Cards
//     $index-card-radii: 3px;

// // * Show Cards
//     $show-card-radii: 3px;

// // * Graphs
//     $bar-radii: 3px;

