.header-1-text{
  h1{
  // font-family: Helvetica;
  font-size: 25px;
  }
}

.sub-header-2-text{
  h2{
  // font-family: Helvetica;
  font-size: 20px;
  }
}

.sub-header-3-text{
  h3{
  // font-family: Helvetica;
  font-size: 20px;
  }
}

.body-text{
  p{
  // font-family: Helvetica;
  font-size: 16px;
  // color: $dark-gray;
  }
}

.navbar-links-logo{
}

.navbar-links-text{
}

.navbar-links-icons{
}

.navbar-avatar-name-text{
}

.navbar-language-dropdown-text{
}

.navbar-dropdown-text-and-icons{
}

.footer-navbar-links-text-and-icons{
}

.subnav-text{
}

.subnav-links-text{
}

.subnav-links-icons{
}

.form-prompt-text{
}

.form-placeholder-text{
}

.form-label-text{
}

.form-button-text{
}

.alert-text {
}

.tabs-text{
}

.content-action-link-icons{
}

.content-action-link-icons{
}

.message-row-header-text{
}

.message-row-body-text{
}

.message-row-body-icon{
}

.message-row-button-text-and-icon{
}

.offering-card-image-title-text{
}

.offering-img-circle-text-and-icons{
}

.offering-card-image-sub-title-text{
}

.offering-card-title-text{
}

.offering-card-description-text{
}

.offering-card-price-text{
}

.offering-card-status-text{
}

.graph-title-text{
}

.graph-in-bar-text{
}










