/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*Graphical variables*/
@import "fonts";
@import "colors";
@import "radii";
@import "lines_and_borders";
@import "text_colors_and_styles";
@import "bootstrap_variables";
@import "utilities";
@import "heightsandwidths";
@import "links";
@import "touch";
@import "full_screen";

.sr-only {
  position: relative;
  width: 1px;
  height: 1px;
  padding-left: 0px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

a {
  color: #C4D500;
}

.container-menu {
  padding-left: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.dropdown-toggle {
  height: 40px;
  pointer-events: none;
  border: none;
  }
.dropdown-toggle:focus {
  outline: none;
}

.btn:focus {
  outline: none;
}
.navbar-toggle {
border: none;
margin-bottom: 15px;
}
.navbar-toggle:focus {
outline: none;
}



