  // Form fields

  $input-field-height: 45px;
  $input-field-text-area-height: 250px;

  // Buttons
  $button-height: 35px;

  // Graphs (**note: horizontal, so height = widths of the bar)
  $bar-height: 45px;



